.gameIntro .title {
    width:80%;
    margin:auto;
    margin-top:10px;
    padding:20px;
    font-size:xxx-large;
}

.gameIntro .brief {
    width:80%;
    margin:auto;
    margin-top:10px;
    background-color: rgba(128,128,128,0.2);
    border-radius: 30px !important;
    padding:20px;
}
.gameIntro ion-content h1{
    font-size: xxx-large;
    font-weight: bolder;
    color:white;
    width:100%;
    text-align: center;
    text-shadow: 1px 0 0 #000
}
.gameIntro ion-content h2{
    font-size: xx-large;
    font-weight: bolder;
    color:white;
    width:100%;
    text-align: center;
    padding-bottom:2em;
    text-shadow: 1px 0 0 #000
}

.gameIntro .brief h2 {
    color:white;
    text-decoration: underline;
}

.gameIntro .brief div {
    color:white;
    font-size:larger;
    padding:5px;
}

.gameIntro .baseline{
    margin:auto;
    width:80%;
    text-align: center;
    font-size:larger;
}
.gameIntro .center{
    text-align: center;
    width: 100%;
}
