.brief {
    width:80%;
    margin:auto;
    margin-top:10px;
    background-color: rgba(128,128,128,0.2);
    border-radius: 30px !important;
    padding:20px;
}

.brief h1 {
    color:white;
    text-decoration: underline;
}

.brief div {
    color:white;
    font-size:larger;
    padding:5px;
}
.baseline{
    margin:auto;
    width:80%;
    text-align: center;
    font-size:larger;
}
.center{
    text-align: center;
    width: 100%;
}
ion-button{
    width: 80%;
}
